ProgrammingAssignment2.Rproj
.Rproj.user/D53A4DCF/sdb/prop/4A4CE545
.Rproj.user/D53A4DCF/sdb/prop/5A450ECF
.Rproj.user/D53A4DCF/sdb/prop/INDEX
.Rproj.user/D53A4DCF/sdb/s-984EBBBD/1EB1C188
.Rproj.user/D53A4DCF/sdb/s-984EBBBD/AC1803DD
.Rproj.user/D53A4DCF/sdb/s-984EBBBD/lock_file